.header {
  position: absolute;
  /* background: rgba(255, 255, 255, 0.2); */
  top: 0vh;
  width: 90%;
  height: 6vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.navigation-bar ul {
  display: flex;
  color: var(--cor-2);
  gap: 2.5rem;
}
.navigation-bar li {
  transition-duration: 0.5s;
}
.navigation-bar .c {
  display: none;
}
.c {
  font-size: 2.5rem;
  color: var(--cor-3);
}

.ativo {
  color: var(--cor-p2);
}
.navigation-bar li:hover {
  color: var(--cor-p2);
}

/* RESPONSIVIDADES */
/* DESKTOP ATUALIZADO */
@media screen and (min-width: 1441px) and (max-width: 1921px) {
}

/* DESKTOP E NOTEBOOK + MODERNO */
@media screen and (min-width: 1281px) and (max-width: 1441px) {
}

/* DESKTOP PADRÃO */
@media screen and (min-width: 1024px) and (max-width: 1281px) {
}

/* TABLETS */
@media screen and (min-width: 767px) and (max-width: 1024px) {
}

/* MOBILE ATUAL */
@media screen and (min-width: 200px) and (max-width: 767px) {
  .navigation-bar .d {
    display: none;
  }
  .navigation-bar .c {
    display: block;
  }
}

/* MOBILE PEQUENOS(ANTIGOS)*/
@media screen and (min-width: 200px) and (max-width: 411px) {
}

/* TABLET E CELULAR LANDINGSCAPE */
@media screen and (max-height: 500px) and (max-width: 990px) and (orientation: landscape) {
}

/* AIRPAD */
@media screen and (min-height: 1000px) and (max-height: 1440px) and (max-width: 1000px) {
}
