.botoes {
  display: flex;
  flex-wrap: wrap;
  gap: 0px 32px;
}

.btn-contact-edu {
  width: 180px;
  background: transparent;
  border: 2px solid var(--cor-s2);
  box-shadow: 2px;
  color: var(--cor-1);
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  padding: 8px 4px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  transition-duration: 1s;
  max-height: 100%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.btn-contact-edu:hover {
  background: linear-gradient(135deg, var(--cor-s2) 80%, var(--cor-s1) 100%);
  border: 2px solid var(--cor-s2);
  color: var(--cor-2);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.form-container button {
  width: 180px;
  background: linear-gradient(135deg, var(--cor-s2) 40%, var(--cor-s1) 100%);
  border: 2px solid var(--cor-s2);
  box-shadow: 2px;
  color: var(--cor-1);
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  padding: 8px 4px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  transition-duration: 1s;
  max-height: 100%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.form-container button:hover {
  background: transparent;
  border: 2px solid var(--cor-1);
  color: var(--cor-1);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#alert {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 70%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  top: 10px;
  z-index: 333;
  gap: 6px;
  height: 60px;
  background: linear-gradient(
    135deg,
    rgb(6, 36, 1),
    rgba(9, 54, 22, 0.9),
    rgb(6, 36, 1)
  );

  border-radius: 8px;
  transform: translateY(-100%);
  animation: slideDown 1s ease-out forwards;
}
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-100%);
  }
}

#alert p {
  text-align: center;
  justify-self: center;
}
#alert button {
  position: absolute;
  background: transparent;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  right: 0;
  height: 100%;
  width: 80px;
}
#alert i {
  font-size: 32px;
  color: var(--cor-4);
}

.btn-contact3 {
  display: inline-block;
  width: 120px;
  background: transparent;
  border: 2px solid var(--cor-s2);
  color: var(--cor-s2);
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 16px;
  padding: 8px 4px;
  cursor: pointer;
  transition-duration: 1s;
  max-height: 100%;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.btn-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.btn-contact3:hover {
  background: linear-gradient(135deg, var(--cor-s2) 80%, var(--cor-s1) 100%);
  border: 2px solid var(--cor-s2);
  color: var(--cor-1);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.btn-contact2 {
  width: 120px;
  background: linear-gradient(135deg, var(--cor-p0) 80%, var(--cor-p1) 100%);
  border: 2px solid var(--cor-p0);
  box-shadow: 2px;
  color: var(--cor-1);
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  padding: 8px 4px;
  cursor: pointer;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  transition-duration: 1s;
  max-height: 100%;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.btn-contact2:hover {
  background: transparent;
  border: 2px solid var(--cor-p0);
  color: var(--cor-p0);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.btn-contact {
  width: 180px;
  background: linear-gradient(135deg, var(--cor-s2) 80%, var(--cor-s1) 100%);
  border: 2px solid var(--cor-s2);
  box-shadow: 2px;
  color: var(--cor-1);
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  padding: 8px 4px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  transition-duration: 1s;
  max-height: 100%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.btn-contact:hover {
  background: transparent;
  border: 2px solid var(--cor-s2);
  color: var(--cor-s2);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.btn-email {
  width: 144px;
  border: none;
  background: transparent;
  border: 2px solid var(--cor-2);
  color: var(--cor-1);
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  font-size: 16px;
  padding: 8px 4px;
  transition-duration: 0.5s;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.btn-email:hover {
  background: linear-gradient(135deg, var(--cor-1) 80%, var(--cor-2) 100%);
  border: 2px solid var(--cor-1);
  color: var(--cor-p0);
}

/* RESPONSIVIDADES */

/* DESKTOP ATUALIZADO */
@media screen and (min-width: 1441px) and (max-width: 1921px) {
}

/* DESKTOP E NOTEBOOK + MODERNO */

@media screen and (min-width: 1281px) and (max-width: 1441px) {
}

/* DESKTOP PADRÃO */
@media screen and (min-width: 1024px) and (max-width: 1281px) {
}

/* TABLETS */
@media screen and (min-width: 950px) and (max-width: 1024px) {
  .btn-contact3 {
    width: 100px;
    font-weight: 500;
    font-size: 16px;
  }
  .btn-contact2 {
    width: 100px;
    font-weight: 500;
    font-size: 16px;
  }
  .btn-nav {
    gap: 12px;
  }
}
@media screen and (min-width: 766px) and (max-width: 950px) {
  .btn-contact3 {
    width: 80px;
    font-weight: 500;
    font-size: 14px;
  }
  .btn-contact2 {
    width: 80px;
    font-weight: 500;
    font-size: 14px;
  }
  .btn-nav {
    gap: 8px;
  }
}

/* MOBILE ATUAL */
@media screen and (min-width: 410px) and (max-width: 767px) {
  #alert button {
    position: relative;
  }
  #alert {
    width: 90%;
  }
}
/* MOBILE PEQUENOS(ANTIGOS)*/
@media screen and (min-width: 200px) and (max-width: 411px) {
  #alert {
    width: 90%;
    height: 48px;
  }
  #alert button {
    position: relative;
  }
  .form-container button {
    width: 120px;
    padding: 4px;
    font-weight: 400;
  }
}

/* TABLET E CELULAR LANDINGSCAPE */
@media screen and (min-height: 401px) and (max-height: 500px) and (max-width: 990px) and (orientation: landscape) {
  .header .btn-contact2 {
    margin-top: 8px;
  }
  .header .btn-contact3 {
    margin-top: 8px;
  }
  .btn-contact3 {
    padding: 2px;
  }
  .btn-contact2 {
    padding: 2px;
  }
  .btn-contact {
    width: 122px;
    padding: 2px;
    font-size: 1rem;
    font-weight: 400;
  }
  .btn-contact-edu {
    width: 122px;
    padding: 2px;
    font-size: 1rem;
    font-weight: 400;
  }

  .btn-txt-off {
    display: none;
  }
  .btn-email {
    width: 122px;
    padding: 2px;
    font-size: 1rem;
    font-weight: 400;
  }
  input[type="email"] {
    width: 70%;
  }
}
@media screen and (min-height: 0px) and (max-height: 402px) and (max-width: 990px) and (orientation: landscape) {
  .header .btn-contact2 {
    margin-top: 8px;
  }
  .header .btn-contact3 {
    margin-top: 8px;
  }
  .btn-contact3 {
    padding: 2px;
  }
  .btn-contact2 {
    padding: 2px;
  }
  .btn-contact {
    width: 122px;
    padding: 2px;
    font-size: 1rem;
    font-weight: 400;
  }
  .btn-contact-edu {
    width: 122px;
    padding: 2px;
    font-size: 1rem;
    font-weight: 400;
  }

  .btn-txt-off {
    display: none;
  }
  .btn-email {
    width: 122px;
    padding: 2px;
    font-size: 1rem;
    font-weight: 400;
  }
  input[type="email"] {
    width: 70%;
  }
}

/* AIRPAD */
@media screen and (min-height: 500px) and (max-height: 930px) and (max-width: 1921px) and (min-width: 1000px) {
  .btn-contact3 {
    padding: 4px;
  }
  .btn-contact2 {
    padding: 4px;
  }
  .btn-nav {
    gap: 12px;
  }
  input[type="email"] {
    width: 70%;
  }
  .line {
    display: none;
  }
}
