:root {
  --cor-0: #ffffff;
  --cor-1: #f6f5f5;
  --cor-2: #ebe8e7;
  --cor-3: #9c9795;
  --cor-4: #615753;
  --cor-5: #2e2421;
  --cor-6: #201a17;
  --cor-p0: #2392b3;
  --cor-p1: #4ebdde;
  --cor-p2: #32a4c6;
  --cor-p3: #177e9e;
  --cor-p4: #096b8a;
  --cor-s1: #d05621;
  --cor-s2: #ef8e48;
}

/* CORES DE TXT */

.cor-0 {
  color: var(--cor-0);
}
.cor-1 {
  color: var(--cor-1);
}
.cor-2 {
  color: var(--cor-2);
}
.cor-3 {
  color: var(--cor-3);
}
.cor-4 {
  color: var(--cor-4);
}
.cor-5 {
  color: var(--cor-5);
}
.cor-6 {
  color: var(--cor-6);
}

/* COR SECUNDARIA */

.cor-s1 {
  color: var(--cor-s1);
}
.cor-s2 {
  color: var(--cor-s2);
}

/* COR PRIMARIA */

.cor-p0 {
  color: var(--cor-p0);
}
.cor-p1 {
  color: var(--cor-p1);
}
.cor-p2 {
  color: var(--cor-p2);
}
.cor-p3 {
  color: var(--cor-p3);
}
.cor-p4 {
  color: var(--cor-p4);
}
