/* CONTAINER GERAL */
.container-vh {
  position: relative;
  height: 100vh;
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  background: url(../../assets/background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-header {
  position: absolute;
  content: "";
  width: 100%;
  height: 6vh;
  background: red;
}
