:root {
  --font-ph: 400 0.875rem/1.5 "Nunito", sans-serif;
}

------------------------------------------------
/*  -----------------FONTE ESTILO 1---------------- */
/* ------------------------------------------------ */

.font-1-pp-txt {
  font: 400 0.75rem/1.35 "Montserrat", sans-serif;
}

.font-1-p-txt {
  font: 400 1rem/1.5 "Montserrat", sans-serif;
}

.font-1-m-txt,
.font-1-p-h1 {
  font: 400 1.125rem/1.35 "Montserrat", sans-serif;
}

.font-1-p-h1 {
  font-weight: 600;
}

.font-1-g-txt {
  font: 400 1.5rem/1.5 "Montserrat", sans-serif;
}

.font-1-m-h1 {
  font: 600 2rem/1.25 "Montserrat", sans-serif;
}

.font-1-g-h1 {
  font: 600 4rem/1.125 "Montserrat", sans-serif;
}

/* ------------------------------------------------ */
/*  ------------------FONTE ESTILO 2---------------- */
/* ------------------------------------------------ */

.font-2-p-txt {
  font: 400 0.875rem/1.43 "Nunito", sans-serif;
}

.font-2-m-txt {
  font: 400 1rem/1.5 "Nunito", sans-serif;
}

.font-2-p-h2 {
  font: 500 1.125rem/1.35 "Nunito", sans-serif;
}

.font-2-g-txt,
.font-2-m-h2 {
  font: 400 1.5rem/1.5 "Nunito", sans-serif;
}

.font-2-m-h2 {
  font-weight: 500;
  letter-spacing: 0.015em;
  text-transform: uppercase;
}

.font-2-g-h2 {
  font: 500 2rem/1.25 "Nunito", sans-serif;
}

/* ------------------------------------------------ */
/*  ------------------FONTES RESONSIVAS---------------- */
/* ------------------------------------------------ */
/* Responsividade para Desktop atualizado */

@media screen and (min-width: 1439px) and (max-width: 1921px) {
}

/* Responsividade para Desktop pouco + atualizado */

@media screen and (min-width: 1281px) and (max-width: 1441px) {
  .font-1-g-h1 {
    font-size: 3.75rem;
  }
  .font-2-g-txt {
    font-size: 1.25rem;
  }
}

/* Responsividade para Desktop padrão */

@media screen and (min-width: 1023px) and (max-width: 1281px) {
  .font-1-g-h1 {
    font-size: 3rem;
  }
  .font-2-g-txt {
    font-size: 1.125rem;
  }
  .font-2-p-h2 {
    font-size: 1rem;
  }
}

/* Responsividade para tablets */
@media screen and (min-width: 768px) and (max-width: 1025px) {
  .font-1-g-h1 {
    font-size: 3.25rem;
  }
  .font-2-g-txt {
    font-size: 1.125rem;
  }
  .font-1-p-txt {
    font-size: 0.875rem;
  }
  .font-2-p-h2 {
    font-size: 1rem;
  }
}

/* Responsividade para celulares */
@media screen and (min-width: 410px) and (max-width: 768px) {
  .font-1-g-h1 {
    font-size: 2.5rem;
  }
  .font-2-g-txt {
    font-size: 1.125rem;
  }
  .font-1-p-txt {
    font-size: 0.875rem;
  }
}

@media screen and (min-width: 381px) and (max-width: 411px) {
  .font-1-g-h1 {
    font-size: 2.5rem;
  }
  .font-2-g-txt {
    font-size: 1.125rem;
  }
  .font-1-p-txt {
    font-size: 0.875rem;
  }
}

@media screen and (min-width: 200px) and (max-width: 381px) {
  .font-1-g-h1 {
    font-size: 2.25rem;
  }
  .font-2-g-txt {
    font-size: 1rem;
  }
  .font-1-p-txt {
    font-size: 0.875rem;
  }
}
/* Responsividade para tablet e celular em modo paisagem */

@media screen and (max-height: 500px) and (max-width: 990px) and (orientation: landscape) {
}

/* AIRPODS RESPONSIVE */
@media screen and (min-height: 500px) and (max-height: 930px) and (max-width: 1921px) and (min-width: 1000px) {
}
