/* CONTAINER SECTION */
.section {
  position: absolute;
  top: 6vh;
  height: 90vh;
  width: 90%;
  display: grid;
  justify-content: center;
  background: rgba(31, 202, 31, 0.4);
}
.grid-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* div-lado esquerdo container */
.first-div {
  display: grid;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* Primeira div-lado esquerdo */
.first-div-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: red;
}

/* CONTAINER SEGUNDA DIV */
.get-data {
  display: flex;
  background: pink;
  flex-wrap: wrap;
  gap: 0px 24px;
}

/* BOTÃO E INPUT CONTAINER */
.email-data {
  display: flex;
}

/* ON-OFF TEXTOS PARA MIDIAQUERY */
.on-off {
  display: none;
}
.txt-off {
  display: none;
}

/* REDES SOCIAIS CONTAINER*/

.social-div {
  margin-bottom: 32px;
  width: 100%;
  color: var(--cor-p0);
  background: purple;
  font-size: 24px;
  display: flex;
  align-items: center;
  gap: 36px;
  width: 100%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.social-div a:hover {
  background: var(--cor-p0);
  color: var(--cor-2);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.social-div a {
  border: 2px solid var(--cor-p0);
  padding: 8px;
  border-radius: 100%;
  transition-duration: 0.5s;
}
.social-div i {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* DIV DO LADO DIREITO */
.first-div-right {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(230, 101, 122, 0.5);
}
