/* CONTAINER SECTION */
.section {
  position: absolute;
  top: 6vh;
  height: 90vh;
  width: 90%;
  display: grid;
  justify-content: center;
  /* background: rgba(31, 202, 31, 0.4); */
}
.grid-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 48px;
  margin-bottom: 40px;
}

/* div-lado esquerdo container */
.first-div {
  display: flex;
  align-items: start;
  flex-direction: column;
  /* background: green; */
}
/* Primeira div-lado esquerdo */
.first-div-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* height: 50%; */
  /* background: red; */
}

/* divisória */
.line {
  content: "";
  width: 100%;
  height: 2px;
  background: var(--cor-p1);
  opacity: 0.5;
  margin: 36px 0px;
}
/* CONTAINER SEGUNDA DIV */
.get-data {
  height: 100%;
  /* background: pink; */
}
.get-data p {
  width: 80%;
}
.txt-off {
  display: block;
}

/* BOTÃO E INPUT CONTAINER */
.email-data {
  position: relative;
  display: flex;
  width: 100%;
}
#error-message {
  content: "";
  right: 30%;
  bottom: -70%;
  position: absolute;
  color: rgb(214, 128, 30);
}

/* GRID DA DIREITA */

.first-div-right {
  position: relative;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 14px;
}

.gallery-item {
  object-fit: cover;
  grid-template-rows: 6fr;
  max-width: 100%;
  height: 100%;
}

.item-1 {
  border-radius: 40px 40px 200px 40px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background: url(../../assets/img-section/imagem-1.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.item-2 {
  border-radius: 40px 40px 40px 100px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background: url(../../assets/img-section/imagem-2.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.item-3 {
  border-radius: 200px 40px 40px 40px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background: url(../../assets/img-section/imagem-3.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
}

.item-4 {
  border-radius: 40px 100px 40px 40px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background: url(../../assets/img-section/imagem-4.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

/* REDES SOCIAIS CONTAINER*/

.social-div {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: var(--cor-2);
  /* background: purple; */
  font-size: 24px;
  display: flex;
  align-items: center;
  gap: 36px;
  width: 100%;
}
.social-div a:hover {
  background: linear-gradient(135deg, var(--cor-s2) 40%, var(--cor-s1) 100%);
  color: var(--cor-2);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  border: 2px solid transparent;
}
.social-div a {
  border: 2px solid var(--cor-2);
  padding: 8px;
  border-radius: 100%;
  transition-duration: 0.5s;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.social-div i {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* RESPONSIVIDADES */

/* DESKTOP ATUALIZADO */
@media screen and (min-width: 1441px) and (max-width: 1921px) {
}

/* DESKTOP E NOTEBOOK + MODERNO */
@media screen and (min-width: 1281px) and (max-width: 1441px) {
}

/* DESKTOP PADRÃO */
@media screen and (min-width: 1024px) and (max-width: 1281px) {
}

/* TABLETS */
@media screen and (min-width: 767px) and (max-width: 1024px) {
  .container-vh {
    background: url(../../assets/background-mobile-min.jpg), no-repeat;
    background-size: cover;
    background-position: 80% 50%;
    z-index: 1;
  }
  .bg-effect {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(
      120deg,
      rgba(27, 162, 224, 0.4),
      rgb(0, 0, 0, 0.1)
    );
  }
  .line {
    display: none;
  }

  /* ACIMA CORRIGIDO */

  .grid-section {
    grid-template-columns: 1fr;
  }
  .first-div {
    max-width: 62%;
  }
  .first-div-right {
    display: none;
  }
  .on-off {
    display: block;
  }
  .get-data {
    width: 86%;
    flex-wrap: wrap;
  }

  .social-div {
    font-size: 24px;
  }
}

/* MOBILE ATUAL */
@media screen and (min-width: 412px) and (max-width: 767px) {
  .container-vh {
    background: url(../../assets/background-mobile-min.jpg), no-repeat;
    background-size: cover;
    background-position: 80% 50%;
    z-index: 1;
  }
  .bg-effect {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(
      120deg,
      rgba(27, 162, 224, 0.6),
      rgb(0, 0, 0, 0.6)
    );
  }
  .line {
    width: 20%;
    opacity: 0.4;
  }

  /* ACIMA CORRIGIDO */

  .grid-section {
    grid-template-columns: 1fr;
  }
  .first-div {
    grid-template-columns: 1fr;
  }
  .first-div-right {
    display: none;
  }

  .social-div {
    font-size: 24px;
  }
  .get-data {
    flex-wrap: wrap;
  }
}

/* MOBILE PEQUENOS(ANTIGOS)*/
@media screen and (min-width: 0px) and (max-width: 411px) {
  .line {
    display: none;
  }
  .txt-off {
    display: none;
  }
  .container-vh {
    background: url(../../assets/background-mobile-min.jpg), no-repeat;
    background-size: cover;
    background-position: 80% 50%;
    z-index: 1;
  }
  .bg-effect {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(
      120deg,
      rgba(27, 162, 224, 0.6),
      rgb(0, 0, 0, 0.6)
    );
  }
  .grid-section {
    grid-template-columns: 1fr;
  }
  .first-div {
    grid-template-columns: 1fr;
  }
  .first-div-right {
    display: none;
  }
  .get-data {
    flex-wrap: wrap;
  }
  .social-div {
    font-size: 20px;
  }
}

/* TABLET E CELULAR LANDINGSCAPE */
@media screen and (max-height: 500px) and (max-width: 990px) and (orientation: landscape) {
  .txt-off {
    display: none;
  }
  .social-div {
    gap: 72px;
  }
  .social-div a {
    padding: 4px;
    font-size: 18px;
  }

  /* DAQUI PARA CIMA */
}

/* AIRPAD */
@media screen and (min-height: 1000px) and (max-height: 1440px) and (max-width: 1000px) {
  .get-data {
    width: 100%;
  }
  .social-div {
    font-size: 36px;
  }
}
